html,
body {
    width: 100%;
    height: 100%;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: opacity(0.9);
    z-index: -1;
}

.fixed::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/asteroid_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.canvas-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
}

#canvas {
    position: relative;
}

#canvas-bg {
    position: absolute;
    top: 0;
    left: 0;
}
